{% extends 'base.html' %}
{% block content %}
<h1>{{ course.title }}</h1>
<p>{{ course.description }}</p>
<p>Преподаватель: {{ course.teacher.get_full_name|default:course.teacher.username }}</p>

{% if user.is_authenticated and user.student_profile not in course.students.all %}
<a href="{% url 'course_enroll' course.id %}" class="btn btn-success custom mb-3">Записаться на курс</a>
{% endif %}

{% if user == course.teacher %}
<a href="{% url 'lesson_create' course.id %}" class="btn btn-primary custom mb-3">Добавить урок</a>
{% endif %}

<h3>Уроки:</h3>
<ul class="list-group">
    {% for lesson in lessons %}
    <li class="list-group-item">
        <a href="{% url 'lesson_detail' lesson.id %}">{{ lesson.title }}</a>
    </li>
    {% empty %}
    <p>Уроков пока нет.</p>
    {% endfor %}
</ul>
{% endblock %}
